STRAVA_CLIENT_ID=your_strava_client_id
STRAVA_CLIENT_SECRET=your_strava_client_secret
STRAVA_REFRESH_TOKEN=your_strava_refresh_token

NOTION_TOKEN=your_notion_token
NOTION_DATABASE_ID=your_notion_database_id
